# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

*~

# Ignore certain binaries
deploy
kjv.db

*#

# Frontend
web/node_modules/
web/dist/

# Env files
.env
.env.*
web/.env
web/.env.*

# compiled binary
/bible_api
